.homebar{
 
    background-image:url('./healthy-eating-ingredients-732x549-thumbnail-732x549.avif');
    background-repeat: no-repeat;
    height: 500px;
    width:100%;
    background-size:100%;
    opacity: 0.8;
}
.edu{
    height: 70px;
    width: 70px;
    background-color: aliceblue;
    border-radius: 100px;
    text-align: center;
    margin:auto;
    font-stretch: normal;
    font-size: 30px;

}
.button{
    text-align: right;
}
.log,.acc{
    font-size:1em;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;   
}
.text{
    text-align: center;
    padding: 100px;
    font-size: 20px;
    font-weight: 800;
    color:rgb(255, 0, 0);
}

input,select{
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
}
input{
    background-image: url(search.svg);
    background-repeat: no-repeat;
    background-position: 4%;
    text-align: center;
}

.container{
    margin: 50px 150px;
}

.grid img{
  height: 150px;
  width: 150px;
}

.parent{
    display: grid;
    grid-template-columns: 350px 350px 350px ;
    grid-gap:100px; 
 }

.grid{
   display: grid;
   grid-template-columns: 180px 180px 180px ;
}

@media screen and (min-width:80px) and (max-width:800px) {
    .parent{
        display: grid;
        grid-template-columns: 300px 400px  ; 
      
     }
    .grid{
       display: grid;
       grid-template-columns: 180px 180px ;
     
    }
    .container{
        margin: 0;
    }
    input,select{
        width: 250px;
        padding: 10px;
        border-radius: 5px;
        border: 3px solid black;
        margin: 10px;
    }
    .text{
       font-size: 19px;
       width: 500px;
       text-align: center;
       padding: 50px;
       font-weight: 600;
       color:rgb(0, 0, 0);
    }
}
@media screen and (min-width:20px) and (max-width:650px) {
    
    .parent{
        display: grid;
        grid-template-columns: 250px  ; 
        grid-gap: 50px;
      
     }
    .grid{
       display: grid;
       grid-template-columns: 180px 180px ; 
    }
    .container{
        margin:0px 90px;
    }
    input,select{
        width: 300px;
        padding: 10px;
        border-radius: 5px;
        border: 3px solid black;
        margin: 10px;
    }
    .text{
        font-size: 15px;
       width: 450px;
       text-align: center;
       padding: 50px;
       font-weight: 600;
       color:rgb(0, 0, 0);
    }
}